* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 2rem;
  text-align: center;
}

.navbar {
  background-color: #141414;
  color: #fff;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.logo {
  font-size: 1.8rem;
  color: #2ee6c5;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

.nav-links a:hover {
  color: #2ee6c5;
}

.banner .index, .sobre, .servicos, .contato {
  background-color: #fff;
  text-align: center;
  padding: 3rem 2rem;
}

.container2 {
  max-width: 1100px;
  margin: auto;
  padding: 2rem;
  border-radius: 10px;
  background-color: rgba(180, 180, 184, 0.5);
  fill-opacity: 0.5;
}

.imagem {
  width: 60%;
  height: auto;
  border-radius: 10px;
}

.acesse {
  text-align: center;
}

.footer {
  background-color: #141414;
  color: white;
  text-align: center;
  padding: 1.5rem;
  margin-top: 2rem;
}

/* Media Queries para Responsividade */

/* Tablets (768px para baixo) */
@media (max-width: 768px) {
  .navbar .container {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-links {
    flex-direction: column;
    width: 100%;
    gap: 1rem;
    margin-top: 1rem;
  }

  .nav-links a {
    width: 100%;
    text-align: left;
  }

  .container {
    padding: 1.5rem;
  }

  .banner .index .sobre, .servicos, .contato {
    padding: 2.5rem 1.5rem;
  }

  .logo {
    font-size: 1.5rem;
  }

  .container2 {
    padding: 1.5rem;
  }

  .imagem {
    padding: 1.5rem;
  }
}


/* Celulares (480px para baixo) */
@media (max-width: 480px) {
  .container {
    padding: 1rem;
  }

    .container2 {
    padding: 1rem;
  }

  .nav-links {
    gap: 0.5rem;
  }

  .nav-links a {
    padding: 0.5rem;
    font-size: 0.95rem;
    gap: 0.5rem;
  }

  .banner .index .sobre, .servicos, .contato {
    padding: 2rem 1rem;
  }

  .logo {
    font-size: 1.3rem;
  }

    .imagem {
    padding: 1rem;
  }

  .footer {
    font-size: 0.9rem;
    padding: 1rem;
  }
}